body {
  background: #080740;
  background-image: url('../images/circuit_board.jpg');
  background-size: cover;
  width: 640px;
  margin: 0 auto;
  font-family: 'Orbitron', sans-serif;
  color: silver;
}

header {
  margin: 15px auto 0 auto;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  text-shadow: 4px 4px #6f769c;
  color: #f3ff3b;
}

main {
  height: 530px;
  width: 600px;
  background: red;
  margin: 15px auto 0  auto;
  border-radius: 10px;
  border: 1px solid silver;
  background: -webkit-linear-gradient(#2a2a22, #26248e, #2a2a22); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2a2a22, #26248e, #2a2a22); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2a2a22, #26248e, #2a2a22); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2a2a22, #26248e, #2a2a22); /* Standard syntax */
}

footer{
margin-top: 20px;
}

footer ul {
  margin-top: 0px;
  text-align: center;
}


footer ul li {
  display: inline;
  text-align: center;
  margin: 0 10px;
  line-height: 0px;
  text-shadow: 1px 1px #999;
}

#score-block {
  padding-top: 12px;
  height: 200px;
  width: 100px;
  background: #4a4141;
  border-radius: 10px;
  border: 10px ridge grey;
  box-shadow: 2px 2px #111;
  float: left;
  display: inline-block;
  margin: 158px 22px;
}

#score-block li {
  height: 66px;
  /*border: 1px solid black;*/
  list-style: none;
  text-align: center;
}


#score-block li h3{
  padding-top: 5px;
  text-align: center;
  text-shadow: 2px 2px #000;
}

#score-block li p {
  line-height: 40px;
  font-size: 30px;
  text-shadow: 2px 2px #000;
}

#playing-grid {
  height: 480px;
  width: 240px;
  border-radius: 10px;
  border: 10px ridge grey;
  float: left;
  display: inline-block;
  margin: 15px 5px 0 5px;
  position: relative;
  background: -webkit-linear-gradient(#272719, #6b6969, #272719); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#272719, #6b6969, #272719); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#272719, #6b6969, #272719); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#272719, #6b6969, #272719); /* Standard syntax */
  overflow: hidden;
  box-shadow: 2px 2px #111;
}

#playing-grid ul{
  position: absolute;
  right: 0;
  bottom: 0;
}

#playing-grid ul li {
  height: 22px;
  width: 22px;
  float: left;
  border: 0.5px solid rgba(0,0,0,0.4);
}

#next-up {
  padding-top: 8px;
  padding-bottom: 4px;
  height: 200px;
  width: 100px;
  background: #4a4141;
  border-radius: 10px;
  border: 10px ridge grey;
  float: left;
  display: inline-block;
  margin: 158px 22px;
  box-shadow: 2px 2px #111;
}

#next-up li{
  list-style: none;
  height: 58px;
  line-height: 56px;
  /*border: 1px solid black;*/
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px #000;
  background-repeat: no-repeat;
  background-position: center;
/*  background-size: */
}

#next-up h3 {
  text-align: center;
  padding-top: 5px;
  height: 20px;
  text-shadow: 2px 2px #000;
}

#game-buttons {
  clear: both;
  margin: 0 auto;
  text-align: center;
  height: 50px;
}

#game-buttons li {
  display: inline;
}
