body {
  background: black;
  width: 640px;
  margin: 0 auto;
  font-family: 'Orbitron', sans-serif;
}

header {
  margin: 10px auto 0 auto;
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 700;
}

main {
  height: 530px;
  width: 600px;
  background: red;
  margin: 5px auto 0  auto;
  border-radius: 10px;
  border: 1px solid silver;
  background: -webkit-linear-gradient(#2a2a22, #26248e, #2a2a22); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2a2a22, #26248e, #2a2a22); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2a2a22, #26248e, #2a2a22); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2a2a22, #26248e, #2a2a22); /* Standard syntax */
}


footer ul {
/*  margin-top: 0px;*/
  text-align: center;
}

footer ul li {
  display: inline;
  text-align: center;
  margin: 0 10px;
  color: white;
}

footer ul li {
  display: inline;
  text-align: center;
  margin: 0 10px;
  color: white;
  line-height: 0px;
}

#score-block {
  height: 200px;
  width: 100px;
  background: #4a3939;
  border-radius: 10px;
  border: 10px ridge grey;
  float: left;
  display: inline-block;
  margin: 158px 22px;
}

#score-block li {
  height: 64px;
  border: 1px solid black;
  list-style: none;
  text-align: center;
}


#score-block li h3{
  color: white;
  padding-top: 5px;
  text-align: center;
}

#score-block li p {
  line-height: 40px;
  font-size: 30px
}

#playing-grid {
  height: 480px;
  width: 240px;
  border-radius: 10px;
  border: 10px ridge grey;
  float: left;
  display: inline-block;
  margin: 15px 5px 0 5px;
  position: relative;
  background: -webkit-linear-gradient(#272719, #a5a3a3, #272719); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#272719, #a5a3a3, #272719); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#272719, #a5a3a3, #272719); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#272719, #a5a3a3, #272719); /* Standard syntax */
  overflow: hidden;
}

#playing-grid ul{
  position: absolute;
  right: 0;
  bottom: 0;
}

#playing-grid ul li {
  height: 22px;
  width: 22px;
  float: left;
  border: 0.5px solid #2c2b2b;
}

#next-up {
  height: 200px;
  width: 100px;
  background: #4a3939;
  border-radius: 10px;
  border: 10px ridge grey;
  float: left;
  display: inline-block;
  margin: 158px 22px;
}

#next-up li{
  list-style: none;
  height: 56px;
  line-height: 56px;
  border: 1px solid black;
  text-align: center;
}

#next-up h3 {
  color: white;
  text-align: center;
  padding-top: 5px;
  height: 20px;
}

#game-buttons {
  clear: both;
  margin: 0 auto;
  text-align: center;
  height: 50px;
}

#game-buttons li {
  display: inline
}